@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ryo: #3D64A8;
  --bocchi: #F7ABB2;
  --white: #FFFFFF;
}


.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.blue {
  color: var(--ryo);
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
}

a {
  color: var(--ryo)
}

.text-center {
  text-align: center;
}

body {
  display: flex;
  place-items: center;
}

.input-field {
  width: 280px;
  height: 50px;
  font-size: 16px;
  border: 4px solid var(--ryo);
  padding: 12px;
  border-radius: 12px;
}

.mb-title-form {
  margin-bottom: 24px;
}


.mb-field-form {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.center {
  margin: auto;
}

.form-bg {
  background: var(--bocchi);
}

.form-container {
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

button {
  width: 120px;
  height: 50px;
  background: var(--ryo);
  border-radius: 12px;
  border: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  height: 100vh;
  width: 200px;
  padding-top: 24px;
  background-color: var(--bocchi);
}

.navigation-bar-items {
  display: flex;
  flex-direction: column;
  background-color: var(--bocchi);
  margin-top: 48px;
}

.navigation-bar-item {
  margin-top: 24px;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}